body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
    font-family: 'Josefin Slab', serif;
    font-size: 150%;

}

/*!*Color scheme I found online:*/
show_colors {
    color: #6B7A8F;
    color: #F7882F;
    color: #F7C331;
    color:#DCC7AA;
}

/**/

#title {
    font-family: 'Josefin Slab', serif;
    font-size: 150%;
    font-weight: 100;
    }

.josefin {
    font-family: 'Josefin Slab', serif;
}

#parallax-overlay {
    display: block;
    margin-top: 350px;
    margin-right: 100px;
    text-align: right;
    font-size: 60px;
    z-index: 100;
    color: white;
}

