main {
  position: relative;
}

/* Video wrap */
.bv-video-wrap {
  width: 100%;
  height: 100%;
  /* Please note this is only required if you with to add the
  '.bv-video-wrap--ready' class on the 'onReady' event */
  display: none;
}

.bv-video-wrap--ready {
  display: block;
}

.bv-video-wrap::before {
  /* Optional overlay */
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Video object */
.bv-video {
  width: 100%;
  height: 100%;
}